@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&family=Zen+Kurenaido&display=swap');

@media screen and (max-width: 500px) {
    header {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Rowdies, Arial;
        border-radius: 10px;
        width: 100%;
        padding-bottom: 5px;
    }

    a {
        margin: 1rem;
        color: white;
        text-decoration: none;
        
    }

    body {
        background-color: white;
    }

    .hero-image {
        background: url(../images/hero-image.jpg);
        height: 250px;
        width: 100%;
        background-size: cover;
        border-radius: 10px;
    }

    section {
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: orange;
        border-radius: 10px;
        width: 100%;
        padding-bottom: 5px;
        font-family: Zen Kurenaido;
        font-size: 20px;
    }

    h4 {
        text-align: center;
    }

    .contact {
        background-color: black;
        color: white;
        font-family: Zen Kurenaido;
        text-align: center;
        width: 100%;
        border-radius: 10px;
    }

    iframe {
        height: 200px;
        width: 100%;
    }
}